%h1 Reception
%div.col-md-6
  =image_tag "house.10", class: "img-rounded house"
%div.col-med-6
  %h4 Location:
  %p 38 Santa Clara Street, Santa Rosa Beach, FL
  %h4 Time:
  %p 5:00pm for Cocktails & Pictures
  %h4 Dress Code:
  %p Smart Casual or Summer Cocktail. Tie preferred. Jacket Optional.

