%h1 Reception
%div.col-md-6
  =image_tag "house.10", class: "img-rounded house"
%div.col-med-6
  %label Location:
  %p 38 Santa Clara Street, Santa Rosa Beach, FL
  %label Time:
  %p 5:00pm for Cocktails & Pictures
  %label Dress Code:
  %p Smart Casual or Summer Cocktail. Tie preferred. Jacket Optional.

