%h4 “So what is happening?”
%p In lieu of having a traditional one day ceremony and reception, we are going an alternate and longer route.  We will only be having a larger reception dinner and fun times on May 27, 2017 for those 18 and older. Here is the cool part though: we will be renting a big house in Destin, Florida for said reception for a week. That’s right a whole week to celebrate!

%h4 “The date on the Save the Date is for the dinner?”
%p Yes. Please at least plan to attend the dinner on May 27th, 2017.

%h4 “What if I want to say longer than Saturday? It is in Florida…”
%p That’s great! Stay with us as long as you like. The plan is to check in Friday, May 26, 2017 and check out Saturday, June 3rd, 2017.

%h4 “But guys, isn’t that like us joining you on your honeymoon?”
%p No, we will plan a separate getaway for us. This week is specifically reserved to celebrate with family and friends.

%h4 “You sent an RSVP card with your Save the Date?”
%p Yes, we have 28 slots for people to stay with us in the house. Note that some of the beds are bunk beds. Check “I plan to join you at the reception house” on your RSVP card if you would like to stay with us in the main house.  Once all the slots are gone, they are gone.

%h4 “I would love to come, but I like having my own space to stay”
%p That’s okay too. RSVP with the “Thanks, but I will book my own housing.” option selected.  However, please note that only the large house will be covered financially by the bride and groom. 

%h4 “I have more questions…”
%p 
  Send us an email at 
  =mail_to "cchatham11@gmail.com", "Christina"
  or 
  =mail_to "mongoosled@gmail.com", "Justin."
