%h1 Welcome to Christina and Justin's wedding
%p
  Welcome to our wedding website! If you came here, then I assume you know us. If not, sorry!
%h2 So what's going on?
%p
  =link_to "Check out our FAQs page", faqs_path