%h1 Schedule
%p.subtitle (Times in Central)
.container-fluid.info-port
  %table.table.table-striped
    %thead.thead-default
      %tr
        %th.col-xs-2 Friday
        %th
    %tbody
      %tr
        %td.col-xs-2 3:00 PM
        %td Check in time for Christina & Justin
      %tr
        %td.col-xs-2 3:30 PM
        %td Hit Sam's Club to buy everything for dinner.
  %table.table.table-striped
    %thead.thead-default
      %tr
        %th.col-xs-2 Saturday
        %th
    %tbody
      %tr
        %td.col-xs-2 5:00 PM
        %td Casual Pictures & Start Dinner
      %tr
        %td.col-xs-2 7:00 PM
        %td Shrimp Boil Feast
      %tr
        %td.col-xs-2 10:00 PM
        %td Noise Ordinance goes into effect. Bring the party indoors.

  %table.table.table-striped
    %thead.thead-default
      %tr
        %th.col-xs-2 Tuesday
        %th
    %tbody
      %tr
        %td.col-xs-2 4:00 PM (ish)
        %td Christina gets hair done.
      %tr
        %td.col-xs-2 6:00 PM
        %td Pictures on the beach



