%h1 Schedule
%p.subtitle (Times in Central)
.container-fluid.info-port
  %table.table.table-striped
    %thead.thead-default
      %tr
        %th.col-xs-3 Friday
        %th
    %tbody
      %tr
        %td.col-xs-3 3:00 PM
        %td Check in time for Christina & Justin
      %tr
        %td.col-xs-3 3:30 PM
        %td Hit Sam's Club to buy everything for dinner.
  %table.table.table-striped
    %thead.thead-default
      %tr
        %th.col-xs-3 Saturday
        %th
    %tbody
      %tr
        %td.col-xs-3 10:00 AM - 4:00 PM
        %td We could use all the hands we can get to help set up and prep so feel free to drop by and lend one.
      %tr
        %td.col-xs-3 5:00 PM
        %td Pictures & Cocktails
      %tr
        %td.col-xs-3 7:00 PM
        %td Shrimp Boil Feast
      %tr
        %td.col-xs-3 10:00 PM
        %td Noise Ordinance goes into effect. Bring the party indoors.

  %table.table.table-striped
    %thead.thead-default
      %tr
        %th.col-xs-3 Tuesday
        %th
    %tbody
      %tr
        %td.col-xs-3 4:00 PM (ish)
        %td Christina gets hair done.
      %tr
        %td.col-xs-3 6:00 PM
        %td Pictures on the beach



