%h2 Schedule
%p Times in Central

%table.table.table-striped
  %thead.thead-default
    %tr
      %th.col-xs-2 Saturday
      %th
  %tbody
    %tr
      %td.col-xs-2 6:30 AM
      %td Begin Arriving (Please not this early)
    %tr
      %td.col-xs-2 6:00 PM
      %td Food!
    %tr
      %td.col-xs-2 10:00 PM
      %td Noise Ordinence goes into effect. Quiet(er) times.

%table.table.table-striped
  %thead.thead-default
    %tr
      %th.col-xs-2 Sunday
      %th 
  %tbody
    %tr
      %td.col-xs-2 ?? AM - ?? PM
      %td Recover

%table.table.table-striped
  %thead.thead-default
    %tr
      %th.col-xs-2 Tuesday
      %th 
  %tbody
    %tr
      %td.col-xs-2 6:00 PM
      %td Pictures on the beach



