%h1 Requested songs
= link_to 'Add a song', new_song_path, class: "btn btn-primary"

%table.table.table-striped
  %thead.thead
    %tr
      %th Title
      %th Artist
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title
        %td= song.artist

