/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "songs";

$gray: #777;
$ocean: #1C6BA0;

body {
    font-family: 'Gabriela', serif;
    font-size: 16px;
}
a {
    color: $ocean;
}
.navbar-default {
    background-color: white;
    border-color: white;
    color: $gray;
}
.navbar {
    margin-bottom: 0;
}
h1, h2 {
    text-align: center;
    margin-bottom: 1em;
}
p.subtitle, a.subtitle {
    text-align: center;
    color: $gray;
}
@media (min-width: 1200px) {
    .container-fluid.info-port {
        padding: 0 8em 0 8em;
    }
}
div.field, div.actions {
    margin: 1em 0 1em 0;
}
.center-div {
    margin: 0 auto;
    width: 50%;
}
form {
    .field > label {
        width: 5em;
    }
}
.btn-primary {
    background-color: $ocean;
}
.house {
    width: 100%;
}
