h1 {
    text-align: center;
    color: white;
    font-size: 5em;
    margin-top: 4.5em;
}
body{
  background: image-url('hawaii_ocean_bg2.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.subtitle {
  color: white;
  font-size: 1.25em;
  text-align: center;
}
